body {
    background-color: gray;
}
.nav {

    list-style-type: none;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    overflow: visible;
    position: relative;
    z-index: 99999;
    height: 30px;
}
#blob{
 
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  display:block;
  list-style-type: none;

}
button{
  height: 50px;
  width: 550px;
  font-size: x-large;
  
}
a{font-size:x-large;
color: black;}
ul.nav li {
    float: left
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:10% 10% 10% 10% 10% 10% 10% 10% 10%  ;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%  ;
    height: 2500px;
}
.grid-item {
    text-align : center;
    font-size: 30px;
    padding: 20px;
    background-color: lightblue;
}



.title{
    grid-column: 1 / span 11;
    grid-row: 1 / span 1;
    /* T */
}


.topimg{
    grid-column: 2 / span 3 ;
    grid-row: 3 / span 5;
/* L */
}

.ls{
    grid-column: 2 / span 3;
    grid-row: 11 / span 2 ;
    /* L */
}
.lowerimage{
    grid-column: 6 / span 3;
    grid-row: 3 / span 4 ;
    /* R */
    
}
.lowertext{
    grid-column: 6 / span 3;
    grid-row: 9 / span 60;
    /* L */
}

.rightimg{
    grid-column: 2 / span 3;
    grid-row: 10 / span 60;
    /* R */
}

/* grid end////////////////////////////////////////////////////// */




.tips{
    grid-column: 1 / span 11;
    grid-row: 84 / span 2; 
}
.dropbtn {
    background-color: rgb(184, 153, 116);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: bisque;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
  }
  
  
  .dropdown-content a {
    color: rgb(83, 53, 15);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: rgb(208, 178, 141);}
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  img{
    size: 4in;
  }
  .dropbtn2:hover {
    background-color: rgb(138, 105, 63);
  }

a:link { text-decoration: none;} 
a:visited { text-decoration: none; } 
a:hover { text-decoration: none; } 
a:active { text-decoration: none; }
a { color:white }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .rocareg {
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .rocaitalic {
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .rocabold {
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .container {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 50%;
  height: 50%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: bisque;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


